/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    color: #0b0b0b;
    line-height: 1.6;
    padding: 20px;
}

/* Encabezados */
h1 {
    text-align: center;
    color: #a239c5;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    color: #c44ae2;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    color: #585a5b;
}

/* Navegación */
nav {
    background: #e15abb;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(37, 36, 36);
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
/*Selecciones*/

section, selection {
    background: rgb(29, 28, 28);
    padding: 15px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(11, 11, 11, 0.1);
}

section ul, selection ul {
    margin-top: 10px;
    padding-left: 10px;
}

section ul li, selection ul li {
    margin-bottom: 5px;
}

