* {
  margin: 0;
  padding: 1;
  box-sizing: border-box;
}
body {
    font-family:'roboto', 'Arial Narrow', Arial, sans-serif
}
.header-menu {
    background: linear-gradient(to right, #0B4FE0, #510BE0);
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white
}
.titulo{
    font-size: 300 px;
}
.nav-lista{
    list-style-type: none;
    display: flex;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 15px;

}
.nav-item{
    color: white;
    padding: 0;

}
.nav-link:link{
    color:white;
    text-decoration: none;
}
.nav-link:visited{
    color:white;
        text-decoration: none;
}
.nav-link:hover{
    color:white;
    text-decoration: none;
}
.nav-link:active{
    color:white;
    text-decoration: none;
}
.avatar{
    width: 70px;
    border-radius: 10px;
}